body {
    background-color: green;
    color: white;
}

table {
    border: 2px solid red;
    margin: 20px;
}

tr:nth-child(even) {
    background-color: white;
    color: black;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}